.admin-dashboard {
  display: flex;
  min-height: 100vh;
  /* width: 100%; */
  background-color: #f5f7fa;
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-content {
  flex: 1;
  padding: 2rem;
}

.admin-topbar {
  height: 60px;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.btn-create-exam {
  background-color: #6503dd;       /* same green family */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-create-exam:hover {
  background-color: #440294;
  transform: translateY(-1px);
}

.btn-create-exam:active {
  transform: translateY(0);
}

/* .logout-btn {
  background: linear-gradient(135deg, #ff4d4f, #ff7875);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 10px rgba(255, 77, 79, 0.3);
}

.logout-btn:hover {
  background: linear-gradient(135deg, #d9363e, #ff4d4f);
  transform: translateY(-1px);
  box-shadow: 0 6px 14px rgba(255, 77, 79, 0.4);
}

.logout-btn:active {
  transform: scale(0.96);
} */