.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #141e30, #243b55);
}

.login-box {
  background: white;
  padding: 2.5rem;
  border-radius: 10px;
  width: 360px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-box p {
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.login-box button {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  background: #243b55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #141e30;
}